
.bodyNav {
    display: flex;
}

.layoutNav {
    height: 100vh;
  }
  
  .headerNav {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .buttonNav {
    font-size: 16px;
    width: 64px;
    height: 64px;
  }
  
  .logoContainerNav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .logoNav {
    height: 50px;
  }
  
  .contentNav {
    margin: 24px 16px;
    padding: 0;
    min-height: 280;
  }
  
  .footerNav {
    color: darkgrey;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2px;
  }
  